


  <%  if(current_user.type=="Manager")  %>  
  <%= link_to 'Showprojects', user_projectcodes_path(current_user.id) %>
  <%= link_to 'Createproject', new_user_projectcode_path(current_user.id) %>
 
  <% elsif(current_user.type=="Developer")  %>
  <h1>developerdashboard</h1>
  <% end %>