<div class="middlecontent">
        <div class="jumbotron">
          <h1>All QA List </h1>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <h3 class="tableheading">QA</h3>
              <%= render partial: "projectcodes/table",locals: {resource: @creators} %>
            </div>
            
          </div>
        </div>
        <div>
        </div>