@import "/*";
@import "bootstrap";
@import "tether";
@import "navbar";
@import "sidebar";
@import "middlecontent";
@import "forms";
@import "bugs";
@import "table";
html, body {
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

.outer{
    display: flex;
    justify-content: space-between;
}
.sidebar{
    width:20%;
}
.middlebar{
  width: 80%;
}