// Place all the styles related to the bugs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#modal-img{
  width:100%;  
}
.tabledata a{
    height: 35px;
    font-size: 15px; 
}

.zoom {
  padding: 1%;
  transition: transform .5s;
  margin: 0 auto;
}
.zoom:hover {
  -ms-transform: scale(11); 
  -webkit-transform: scale(11);
  transform: scale(11);
}
.showbugimage{
  width: 80px;
  height: 40px;
}