// Place all the styles related to the bugs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#modal-img{
  width:100%;  
}
.tabledata a{
    height: 35px;
    font-size: 15px; 
}