.fullsidebar{
 float: left;
 width:20%;
 margin:0px;
 text-align: center;
 background-color: purple;
}
.my-button{
 text-align: center;
}
.sidebar-link{
 margin-top: 35px;
 font-size: 20px;   
}
.sidebar-options{
margin-top: 90px;
}
.icon-small{
    width:25px;
    margin-right: 10px; 
}
.wholesidebar{
    background-color: purple;
}
.usertypename{
    margin-top: 35px;
    font-size:25px   
}